# Пароль для входа в систему
APP_PASSWORD=aksu2024

# Vercel KV (автоматически добавляются при подключении KV Storage)
# KV_REST_API_URL=
# KV_REST_API_TOKEN=
# KV_REST_API_READ_ONLY_TOKEN=
# KV_URL=
